@page
@model IndexModel
@using HtmlAgilityPack;
@{
    ViewData["Title"] = "Home page";

}

<div>
    @foreach (Fund f in Model.Funds)
    {
        <h2>@f.Name</h2>
        <p>Price: @f.Price</p>
        <p></p>
    }

</div>
